<h2>print-raw</h2>

<p>Some tests on printing raw printer buffers directly from webpage to generic/text only printers</p>

<ul>
    <li>
        <a href="basic.html">basic.html</a>
        <ul>
            <li>This method opens a new window, adds raw printer to window contents, and prints that window</li>
        </ul>
    </li>
    <li>
        <a href="iframe.html">iframe.html</a>
        <ul>
            <li>This method is similar to the first, except that it uses an iframe</li>
            <li>This method requires a file that can be opened directly, for this example I use rawzpl.txt</li>
        </ul>
    </li>
    <li>
        <a href="print-style.html">print-style.html</a>
        <ul>
            <li>This method uses print-style sheets to show/hide content conditionally</li>
        </ul>
    </li>
</ul>  

<br /><br />
Reference:<br />
<a href="https://developer.mozilla.org/en-US/docs/Web/Guide/Printing">https://developer.mozilla.org/en-US/docs/Web/Guide/Printing</a>
